.App {
  margin: 20px 50px !important;
  padding: 0 0 50px !important;
}

.center-text {
  text-align: center;
}

.fixture-wrapper {
  border: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  padding: 5px;
}

.fixture-flex-out {
  display: flex;
  gap: 1rem;
}

.club-wrapper {
  display: flex;
  gap: 0.25rem;
}

.fixture-center {
  border: 1px solid #e8e8e8;
}

.fixture-Row {
  width: 100%;
}

.justify-end {
  justify-content: end;
}
